<!DOCTYPE html>
<html style="height: 100%;width: 100%">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/jquery-easyui/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="/static/jquery-easyui/themes/icon.css">
    <link rel="stylesheet" type="text/css" href="/static/jquery-easyui/themes/color.css">

    <script type="text/javascript" src="/static/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/static/jquery-easyui/jquery.easyui.min.js"></script>
    <title>测算</title>

    <script>
    var pc;
    //不要放在$(function(){});中
    $.parser.onComplete = function () {
        if (pc) clearTimeout(pc);
        pc = setTimeout(closes, 1000);
    }
    function closes() {
        $('#loading').fadeOut('normal', function () {
            $(this).remove();
        });
    }
</script>


    <style>
    .p_input{
        font-size: 15px;
        font-family: 微软雅黑;
    }
    .data_input{
        width: 100px;
        height: 25px;
    }
</style>

</head>


<body style="width: 100%;height: 100%;">
<!--遮罩层,防止页面加载混乱-->
<div id="loading" style="position:absolute;z-index:1000;top:0px;left:0px;width:100%;height:100%;background:#DDDDDB;text-align :center;padding-top:20%;">
     <h1>加载中....</h1>
</div>


<div style="padding:5px;background:#fafafa;width:100%;border:1px solid #ccc">
    <p class="p_input">
        年份:&nbsp;<input class="easyui-textbox data_input" id="year" data-options="prompt:'请输入年份'">&nbsp;&nbsp;
        一级基本医疗给付:&nbsp;<input class="easyui-textbox data_input" id="first_basic_pay" data-options="prompt:'请输入一级基本医疗给付'">&nbsp;&nbsp;
        二级基本医疗给付:&nbsp;<input class="easyui-textbox data_input" id="second_basic_pay" data-options="prompt:'请输入二级基本医疗给付'">&nbsp;&nbsp;
        三级基本医疗给付:&nbsp;<input class="easyui-textbox data_input" id="third_basic_pay" data-options="prompt:'请输入三级基本医疗给付'">&nbsp;&nbsp;
        约定基本医疗给付:&nbsp;<input class="easyui-textbox data_input" id="appoint_basic_pay" data-options="prompt:'请输入约定基本医疗给付'">&nbsp;&nbsp;
        非定点基本医疗给付:&nbsp;<input class="easyui-textbox data_input" id="unfixed_basic_pay" data-options="prompt:'请输入非定点基本医疗给付'">
    </p>

    <p class="p_input">
        职工增长率:&nbsp;<input class="easyui-textbox data_input" id="staff_growth" data-options="prompt:'请输入职工增长率'">&nbsp;&nbsp;
        居民增长率:&nbsp;<input class="easyui-textbox data_input" id="resident_growth" data-options="prompt:'请输入居民增长率'">&nbsp;&nbsp;
        精准扶贫增长率:&nbsp;<input class="easyui-textbox data_input" id="accurate_growth" data-options="prompt:'请输入精准扶贫增长率'">&nbsp;&nbsp;
        每年增量:&nbsp;<input class="easyui-textbox data_input" id="every_year_growth" data-options="prompt:'请输入每年增量'">&nbsp;&nbsp;
        一档大病封顶:&nbsp;<input class="easyui-textbox data_input" id="first_illness_top" data-options="prompt:'请输入一档大病封顶'">&nbsp;&nbsp;
        二档大病封顶:&nbsp;<input class="easyui-textbox data_input" id="second_illness_top" data-options="prompt:'请输入二档大病封顶'">&nbsp;&nbsp;
    </p>

    <p class="p_input">
        一档第一段:&nbsp;<input class="easyui-textbox data_input" id="first_grade_first_section" data-options="prompt:'请输入一档第一段'">&nbsp;&nbsp;
        二档第一段:&nbsp;<input class="easyui-textbox data_input" id="second_grade_first_section" data-options="prompt:'请输入二档第一段'">&nbsp;&nbsp;
        一档基本医疗封顶:&nbsp;<input class="easyui-textbox data_input" id="first_basic_illness_top" data-options="prompt:'请输入一档基本医疗封顶'">&nbsp;&nbsp;
        二档基本医疗封顶:&nbsp;<input class="easyui-textbox data_input" id="second_basic_illness_top" data-options="prompt:'请输入二档基本医疗封顶'">&nbsp;&nbsp;
        2017年起赔:&nbsp;<input class="easyui-textbox data_input" id="indemnity2017" data-options="prompt:'请输入2017年起赔'">&nbsp;&nbsp;
        2018年起赔:&nbsp;<input class="easyui-textbox data_input" id="indemnity2018" data-options="prompt:'请输入2018年起赔'">&nbsp;&nbsp;

    </p>

    <p class="p_input">
        2019年起赔:&nbsp;<input class="easyui-textbox data_input" id="indemnity2019" data-options="prompt:'请输入2019年起赔'">&nbsp;&nbsp;
        一级起付线:&nbsp;<input class="easyui-textbox data_input" id="first_grade_pay" data-options="prompt:'一级起付线'">&nbsp;&nbsp;
        基层起付线:&nbsp;<input class="easyui-textbox data_input" id="basic_grade_pay" data-options="prompt:'基层起付线'">&nbsp;&nbsp;
        二级起付线:&nbsp;<input class="easyui-textbox data_input" id="second_grade_pay" data-options="prompt:'二级起付线'">&nbsp;&nbsp;
        三级起付线:&nbsp;<input class="easyui-textbox data_input" id="third_grade_pay" data-options="prompt:'三级起付线'">&nbsp;&nbsp;
        定点起付线:&nbsp;<input class="easyui-textbox data_input" id="fixed_pay" data-options="prompt:'定点起付线'">&nbsp;&nbsp;
        约定起付线:&nbsp;<input class="easyui-textbox data_input" id="appoint_pay" data-options="prompt:'约定起付线'">&nbsp;&nbsp;
    </p>

    <p class="p_input">
        居民非定点非约定起付线:&nbsp;<input class="easyui-textbox data_input" id="resident_unfixed_unappoint_pay" data-options="prompt:'居民非定点非约定起付线'">&nbsp;&nbsp;
        职工非定点非约定起付线:&nbsp;<input class="easyui-textbox data_input" id="staff_unfixed_unappoint_pay" data-options="prompt:'职工非定点非约定起付线'">&nbsp;&nbsp;
    </p>


    <p>
	<a id="measureData" href="#" class="easyui-linkbutton" iconCls="icon-ok">开始测算</a>
    </p>
</div>

<div style="width: 100%;height: 100%;">
    <table id = "dg_measuring" class="easyui-datagrid" style="height: 500px;width:100%">
<thead>
		<tr>
            <th data-options="field:'年份'">年份</th>
            <th data-options="field:'分段'">分段</th>
            <th data-options="field:'结算类别'">结算类别</th>
            <th data-options="field:'人数'">人数</th>
            <th data-options="field:'医疗总费用'">医疗总费用</th>
            <th data-options="field:'基本医疗支付'">基本医疗支付</th>
            <th data-options="field:'范围内费用'">范围内费用</th>
            <th data-options="field:'累计大病范围内费用'">累计大病范围内费用</th>
            <th data-options="field:'大病支付'">大病支付</th>
            <th data-options="field:'二挡赔付'">二挡赔付</th>
		</tr>
    </thead>
</table>
</div>

<!--点击搜索按钮搜索数据-->
<script>
    $(document).ready(function () {
        $('#measureData').bind("click",function () {
            alert('66666');
            var result = new Object();
            result.year=document.getElementById("year").value;//年份
            result.first_basic_pay=document.getElementById("first_basic_pay").value;//一级基本医疗给付
            result.second_basic_pay =document.getElementById("second_basic_pay").value;//二级基本医疗给付
            result.third_basic_pay =document.getElementById("third_basic_pay").value;//三级基本医疗给付
            result.appoint_basic_pay =document.getElementById("appoint_basic_pay").value;//约定基本医疗给付
            result.unfixed_basic_pay =document.getElementById("unfixed_basic_pay").value;//非定点基本医疗给付

            result.staff_growth =document.getElementById("staff_growth").value;//职工增长率
            result.resident_growth =document.getElementById("resident_growth").value;//居民增长率
            result.accurate_growth =document.getElementById("accurate_growth").value;//精准扶贫增长率
            result.every_year_growth =document.getElementById("every_year_growth").value;//每年增量
            result.first_illness_top =document.getElementById("first_illness_top").value;//一档大病封顶
            result.second_illness_top =document.getElementById("second_illness_top").value;//二档大病封顶

            result.first_grade_first_section =document.getElementById("first_grade_first_section").value;//一档第一段
            result.second_grade_first_section =document.getElementById("second_grade_first_section").value;//二档第一段
            result.first_basic_illness_top =document.getElementById("first_basic_illness_top").value;//一档基本医疗封顶
            result.second_basic_illness_top =document.getElementById("second_basic_illness_top").value;//二档基本医疗封顶
            result.indemnity2017 =document.getElementById("indemnity2017").value;//2017年起赔
            result.indemnity2018 =document.getElementById("indemnity2018").value;//2018年起赔

            result.indemnity2019 =document.getElementById("indemnity2019").value;//2019年起赔
            result.first_grade_pay =document.getElementById("first_grade_pay").value;//一级起付线
            result.basic_grade_pay =document.getElementById("basic_grade_pay").value;//基层起付线
            result.second_grade_pay =document.getElementById("second_grade_pay").value;//二级起付线
            result.third_grade_pay =document.getElementById("third_grade_pay").value;//三级起付线
            result.fixed_pay =document.getElementById("fixed_pay").value;//定点起付线
            result.appoint_pay =document.getElementById("appoint_pay").value;//约定起付线

            result.resident_unfixed_unappoint_pay =document.getElementById("resident_unfixed_unappoint_pay").value;//居民非定点非约定起付线
            result.staff_unfixed_unappoint_pay =document.getElementById("staff_unfixed_unappoint_pay").value;//职工非定点非约定起付线

            var data = JSON.stringify(result);
            alert(data);

{#            var opts = $('#dg_measuring').datagrid("options");#}
{#            opts.url = "/measureData";#}
{#            $('#dg_measuring').datagrid("load");#}
        });
    })
</script>
<script>
    $(document).ready(function () {
        $('#dg_measuring').datagrid({
        //url:'/selectData',默认不加载
        method:'post',
       //fitColumns: true,
        striped:true,
        pagination:true,
        rownumbers:true,
        pageList: [10,20,30,40,50,60],
        pageSize: 10,
    });
    })
</script>
</body>
</html>